body {
  font-family: 'Candara', sans-serif;
  font-size: 90%;
}

a {
  text-decoration: none;
  color: #c7c3c4;
}

a:hover {
  text-decoration: none;
  color: #85C7F2;
}

#container {
  min-width: 1000px;
  max-width: 1000px;
  margin: 40px auto;
}

#main_outlay {
  width: 100%;
}

.navigation {
  width: 20%;
  font-size: 80%;
  vertical-align: top;
  padding-right: 15px;
  padding-top: 38px;
}

.navigation ul {
  list-style-type: none;
  margin-left: -1em;
  margin-bottom: 0em;
  margin-top: 0em;
  white-space: normal;
}

.navigation li {
  margin-left: -1em;
}

.parenthetical {
  width: 20%;
  font-size: 80%;
  color: #c7c3c4;
  vertical-align: top;
  padding-left: 15px;
  padding-top: 10px;
  white-space: pre-wrap;
}

.parenthetical a {
  text-decoration: none;
  color: #000000;
}

.parenthetical a:hover {
  text-decoration: none;
  color: #85C7F2;
}

.main_content {
  white-space: pre-wrap;
}

.main_content ul {
  list-style-type: disc;
  margin-left: 0em;
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
}

.main_content li {
  margin-left: -1em;
}