{% extends "base.html" %}

{% block title %}
Calls and Puts
{% endblock title %}

{% block content %}
There are two types of options<sup>1</sup>:
<ul>
	<li><b>Calls</b> give the owner the right to buy something</li>
	<li><b>Puts</b> give the owner the right to sell something</li>
</ul>
It's important to recognize that buying calls and buying puts do <i>not</i> give opposite outcomes. Instead, buying calls and selling calls give opposite outcomes, and the same goes for buying and selling puts. Thus, if I buy a call from you, we will have opposite outcomes; my profit will be your loss (ignoring any transaction fees).
{% endblock content %}

{% block parentheticals %}
1. Calls and puts may give owners completely different rights, but eventually you'll learn that the difference is almost negligible.
{% endblock parentheticals %}