{% extends "base.html" %}
{% block title %}
Calls and Puts
{% endblock title %}

{% block content %}
There are two types of options -- calls and puts. A call option gives the owner the right to buy an underlying at a specified price before a certain date. A put option gives the owner the right to sell an underlying at a specified price before a certain date. It's important to recognize that buying calls and buying puts do not give the trader opposite payoffs. Instead, buying calls and selling calls give the trader opposite payoffs, and the same goes for buying and puts and selling puts. In other words, if I buy a call option from you, my profit is your loss (ignoring any transaction fees).
{% endblock content %}

{% block parentheticals %}

{% endblock parentheticals %}