{% extends "base.html" %}

{% block title %}
Derivatives
{% endblock title %}

{% block content %}
Options are a type of derivative. Derivatives are simply contracts or agreements between two parties. The value of derivatives is <i>derived</i> from some underlying product, as opposed to assets like stocks or bonds which represent ownership of something.

Examples of derivatives in finance:
<ul>
  <li>Options</li>
  <li>Futures</li>
  <li>Swaps</li>
  <li>Mortgage Backed Securities</li>
  <li>Credit Default Swaps</li>
</ul>
Examples of derivatives outside of finance:
<ul>
  <li>Bet that Donald Trump will be the next President of the United States</li>
  <li>Agreement to pay a friend $1 for every game the Houston Rockets win this season</li>
</ul>
{% endblock content %}

{% block parentheticals %}
The underlying product for derivatives can be almost anything: stocks, indices, commodities, or even other derivatives.
{% endblock %}