{% extends "base.html" %}
{% block title %}
Cost of Options
{% endblock title %}

{% block content %}
Thus far, we've made it pretty clear that owning options puts you in a very flexible position; you have the right to trade the underlying, while the option seller has an obligation if you exercise your right. From the When to Exercise section, you only exercise your right if it generates a positive payoff. Since the option owner's gain is the option seller's loss, the option seller only experiences a negative payoff if the option is exercised. If the option holder lets the option expire, both parties experience a payoff of 0. Thus, the best an option seller can do is a payoff of 0.

So why would anyone sell options? Because options cost money. To buy an option, you must pay a premium. The option seller hopes the premium will be enough to cover the potential negative payoff. Option trading involves determining what the correct premium, or market price, should be for each option. If you believe the market price for an option is too low, you would buy the option. If you think the market price for an option is too high, you will sell the option. Later chapters will discuss determining appropriate option values.
{% endblock content %}

{% block parentheticals %}

{% endblock parentheticals %}