{% extends "base.html" %}
{% block title %}
Optionality
{% endblock title %}

{% block content %}
Options get their name because they give the option buyer the right or option to trade the underlying. The option seller, however, has an obligation. If the option holder exercises or uses his or her right, then the option seller is assigned. If the option holder does not exercise his or her right, the option expires.

For example, suppose I sell you an option. You can exercise your option whenever you want, and I am required to fulfill my end of the contract. If you choose not to exercise your right, you can let the option expire. You, the option holder, have all the power.

{% endblock content %}

{% block parentheticals %}

{% endblock parentheticals %}