{% extends "base.html" %}
{% block title %}
Payoff
{% endblock title %}

{% block content %}
We explained payoff in the When to Exercise section. Payoff represents the money made or lost in an option position. To determine your payoff, there are four factors:

<ul>
<li> Option type (call / put) </li>
<li> Strike price </li>
<li> Market price of underlying </li>
<li> Quantity of options (can be negative to represent a short position) </li>
</ul>
When you open an option position, the option type, strike price, and quantity of options are fixed. Thus, the only missing determinant for calculating payoff is the market price of the underlying. Note: Payoff assumes you either let the option expire worthless, or you exercise it and close the position in the underlying.

For example, if you buy 1 call option on BAC (Bank of America Corporation) stock with a strike of $17, then the only factor left to determine the payoff is BAC's stock price. If BAC is trading at $16, then you would not exercise the call option, and your payoff is $0. If BAC is trading at $20, then you would exercise the call option, and your payoff is $3 (use the call to buy BAC for $17, then sell it on the market for $20). 

Since your payoff only depends on the underlying price after you open the position, we can plot it against the underlying to create a payoff diagram. Here is the payoff diagram for a long call option with strike 17 (the arrow marks the strike):
<br>
<div id="long_call_chart"></div>
First, notice that the payoff for a long call option (here, long means we own the option) is always greater than or equal to 0. This is because the option owner wouldn't exercise the option if it yielded a negative payoff. Next, notice that the "kink" in the graph happens at the strike price. When we are ITM (underlying > strike), our payoff increases by $1 for each $1 increase in the underlying. This makes sense; if the underlying is worth $1 more, but we can buy it for a fixed strike price by using our call option, then our payoff $1 more.

Here is the payoff diagram for a long put option with a strike of $40:
<div id="long_put_chart"></div>


Again, the payoff is always greater than or equal to 0 and the kink happens to the strike. This time, however, our payoff decreases by $1 for each $1 increase in the underlying whenever we are ITM (underlying < strike). If an underlying is $1 cheaper and we can sell it for a fixed strike price, then our payoff will be $1 greater.

The above payoff diagrams are for long option positions, or for the option buyers. Here is the payoff diagram for the same call option with strike of $17, but a short position (option seller):
<div id="short_call_chart"></div>


The short call option payoff diagram is just the long call option payoff diagram flipped over the x-axis. This makes sense; the option buyer's gain is the option seller's loss. We see the same pattern in the short put option payoff diagram:
<div id="short_put_chart"></div>
<script type="text/javascript">
    generate_simple_chart('#long_call_chart', 'Long Call', 17, 0, call_payoff, 26);
    generate_simple_chart('#long_put_chart', 'Long Put', 40, 0, short_call_payoff, 48);
    generate_simple_chart('#short_call_chart', 'Short Call', 17, 0, put_payoff, 26);
    generate_simple_chart('#short_put_chart', 'Short Put', 40, 0, short_put_payoff, 48);
</script>



{% endblock content %}

{% block parentheticals %}
Note: The multiplier on American stock options is typically 100, so this payoff of $3 would be $300 if you actually bought the option. We typically avoid the multiplier when discussing payoff.
{% endblock parentheticals %}