{% extends "base.html" %}

{% block title %}
When To Exercise
{% endblock title %}

{% block content %}
In this section, we discuss when you should and shouldn't exercise that right. For now, we'll only discuss exercising at expiration. Remember, American options give you the right to exercise early; however, it doesn't occur often. Nevertheless, we'll cover it at a later point.

Suppose you own the following option:
<ul>
	<li><b>Type:</b> call</li>
	<li><b>Underlying:</b> gallon of milk</li>
	<li><b>Strike:</b> $3</li>
	<li><b>Expiration:</b> right now</li>
	<li><b>Multiplier:</b> 5</li>
	<li><b>Exercise condition:</b> irrelevant, American and European options are the same at expiration</li>
	<li><b>Settlement method:</b> physical</li>
</ul>
This option gives you the right to buy 5 gallons of milk for $3 each. To determine whether or not you should exercise the option, you need to know how much milk currently costs. If you can buy milk for $2 at your local grocery store (let this be the <b>market price</b>), you wouldn't want to exercise your call option and buy milk for $3; you would just let your option expire.

If the current price of milk at your grocery store (the market price) is $4, then you should exercise your option and buy milk for $3. Even if you don't want the milk, you can sell it at the market price of $4 and make a $1 payoff per gallon of milk. Since the multiplier is 5, your total payoff from the option is $5.

The counterparty of your option was <i>obligated</i> to sell milk to you for $3, so unless the counterparty already owns milk, s/he will have to buy milk for $4 first from the market. Then, she sells milk for $3 to you to make a -$1 payoff per gallon of milk.

As you can see, the payoff for the option owner and option seller are opposite. Payoff is simply the gain or loss for an option trader from the option. If the option is not exercised, the payoff is $0 for both parties. If the option is exercised, the payoff is the outcome from buying/selling the underlying at the option's strike price, and closing the position in the underlying at the market's price.

Now suppose you own an option with the same specifications, but it is a put instead of a call. So you have the right to sell 5 gallons of milk for $3. Again, you need the market value of a gallon of milk to determine whether or not you should exercise your option.

If the market value of a cookie is $0.50, you would exercise the put option because the market value is less than the strike. You can buy the gallon of milk on the market for $0.50, and then you can sell the cookie for $3 by exercising the put -- a payoff of $2.50. Again, the payoff for the option seller is opposite, -$0.50.

If the market value of a cookie is $3.20, you would not exercise the put option because the market value is greater than the strike. Why exercise the put and sell a gallon of milk for $3 when you can sell a gallon of milk for $3.20 in the market?

In summary, you exercise the option when your payoff is positive, and the option seller's payoff is negative. Payoff can never go below 

In summary, you exercise calls when the market value of the underlying is greater than the strike, because then you are buying something for cheaper than its current price. You exercise puts when the market value of the underlying is less than the strike, because then you are selling something for more more than its current price. Anytime you exercise the option, your payoff is positive, and the option seller's payoff is negative.

{% endblock content %}

{% block parentheticals %}
Option pricing and exercise recommendations assume that you can find the "market price" for the underlying product. The market price is what you could currently buy or sell the underlying for. Technically, the price you can buy something for is usually a bit higher than what you can sell it for. To make calculations simple, we'll assume they're the same.
{% endblock parentheticals %}